*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background: #4f6d7a;
    color:white;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}
.logo{
    text-decoration: none;
    color: gainsboro;
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10%;
}
.nav-links{
    text-align: right;
    background-color: #e8891d;
    padding: 10px 30px;
    border-bottom-left-radius: 18px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.left-sidebar{
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #b35a20;
}
.row{
    padding: 0 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin-top: 5%;
}
.left-col{
    flex-basis: 40%;
}
.right-col{
    flex-basis: 55%;
}
.left-col img{
    width: 80%; 
    cursor: pointer;
    filter: grayscale(0);
    transition: filter 1s;
}
.left-col img.hover{
    filter: grayscale(1);
}
.right-col h1{
    color: white;
    font-weight: 600;
}
.right-col p{
    color: white;
    margin: 20px 0 70px;
}
.social-media{
    display: flex;
    margin-top: 30px;
}
.icon{
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
}
.icon img{
    width: 50px;
}
.icon:hover{
    transform: translateY(-5px);
}